* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  position: relative;
  z-index: 1;
}

.info {
  width: 100%;
  display: flex;
  background-color: #fff;
  margin: 0 275px;
  padding: 7px 0;
}

.info-box {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.info-box p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #9F9F9F;
  padding-top: 10px;
}

.info-box p span {
  color: #FBB900;
}

.info-box img {
  margin: 6px -16px 0 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #F0F0F0;
}

#Busca {
  background-color: #FEF6E7;
  border-radius: 15px;
  width: 657px;
  height: 48px;
}

#txtBusca {
  background-color: transparent;
  color: #9F9F9F;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
  height: 32px;
  width: 260px;
  padding-top: 14px;
  padding-left: 24px;
}

.meio-header {
  display: flex;
  width: 100%;
  padding: 12px 0;
}

.logo {
  width: 33.33%;
}

.logo img {
  padding: 0 0 0 57px;
}

#busca {
  width: 33.33%;
}

#btnBusca {
  float: right;
  padding: 10px 18px;
}

.logo-1 {
  width: 33.33%;
  margin: 0 0 0 61px;
}

.logo-1 img {
  margin: 10px 27px 0 0;
}

.info-final {
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.menu {
  width: 100%;
  display: flex;
  padding: 11px 0;
}

.menu ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu > ul > li {
  list-style: none;
  padding-right: 75px;
  text-align: center;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #9F9F9F;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.menu > ul > li > a:hover {
  color: #FBB900;
}

.imagem {
  background-image: url(../imagem/background-inicio.svg);
  height: 480px;
  width: 100%;
  background-size: cover;
  margin-top: -13px;
}

.titulo-img {
  padding: 119px 0 0 144px;
}

.titulo-img h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: white;
}

.button-img {
  color: white;
  text-decoration: none;
  margin: 24px 0;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 131px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.categoria {
  padding-top: 80px;
}

.categoria-slide {
  width: 100%;
  display: flex;
  padding-top: 24px;
}

.categoria-slide p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #9F9F9F;
}

.fotos-box {
  width: 25%;
}

.fotos-box p {
  text-align: center;
}

.brinquedo {
  padding-top: 88px;
}

.filtro {
  width: 100%;
  display: flex;
}

.titulo-brinquedo {
  width: 40%;
}

.titulo-brinquedo h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #4D4D4D;
}

.filtro-brinquedo {
  width: 60%;
  text-align: right;
}

.filtro-brinquedo > .btn {
  border: 1px solid #E5E5E5;
  padding: 10px 16px;
  text-decoration: none;
  margin-right: 17px;
  border-radius: 6px;
}

.filtro-brinquedo > a {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #9F9F9F;
}

.filtro-brinquedo > .btn:hover {
  background-color: #FBB900;
  border: none;
  padding: 10px 16px;
  text-decoration: none;
  margin-right: 17px;
  border-radius: 6px;
  color: white;
}

.info-brinquedo {
  width: 100%;
  display: flex;
  padding-top: 34px;
}

.box-brinquedo {
  width: 25%;
  text-align: center;
}

.box-brinquedo .amei {
  position: absolute;
}

.box-brinquedo .info-img {
  position: absolute;
  background-color: #FEF6E7;
  width: 100px;
  height: 40px;
  border-radius: 6px;
}

.box-brinquedo .info-img h3 {
  color: #FBB900;
  font-style: normal;
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.box-brinquedo h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #4D4D4D;
}

.box-brinquedo .antigo {
  padding-top: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: line-through;
  color: #9F9F9F;
}

.box-brinquedo .preco-1 {
  padding-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-right: 20px;
  color: #4D4D4D;
}

.box-brinquedo .preco-1 span {
  text-transform: uppercase;
}

.box-brinquedo .preco {
  padding-top: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin-right: 16px;
}

.box-brinquedo .preco span {
  color: #FBB900;
  font-size: 16px;
}

.box-brinquedo .adicionar {
  color: white;
  text-decoration: none;
  margin: 14px 0;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 220px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.ver-todos {
  padding-top: 32px;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration-line: underline;
  color: #FBB900;
}

.marcas {
  padding-top: 62px;
}

.principais-marcas {
  width: 100%;
  display: flex;
}

.titulo-marca {
  width: 50%;
}

.titulo-marca h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #4D4D4D;
}

.todas-marcas {
  width: 50%;
  text-align: right;
}

.todas-marcas a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration-line: underline;
  color: #FBB900;
}

.info-marcas {
  width: 100%;
  display: flex;
}

.box-marcas {
  width: 16.6%;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(178, 134, 0, 0.1215686275);
  padding: 47px 72px 47px 51px;
  margin-right: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}

.pet {
  padding-top: 88px;
}

.pet-parceiro {
  position: relative;
  display: flex;
  margin-left: 34px;
}

.parceiros {
  width: 50%;
}

.parceiros img {
  position: absolute;
}

.black {
  position: absolute;
  background-color: black;
  width: 574px;
  height: 350px;
  border-radius: 20px;
  -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 100%);
  opacity: 0.9;
}

.pet-info {
  position: absolute;
  padding-top: 92px;
  padding-left: 40px;
}

.pet-info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.pet-info p {
  padding-bottom: 12px;
  padding-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.pet-info .btn-parceiro {
  color: white;
  text-decoration: none;
  margin: 14px 0;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 131px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.assinantes {
  width: 50%;
  position: relative;
}

.info-assinante {
  padding-top: 46px;
  padding-left: 40px;
  position: absolute;
  background-color: #FEF6E7;
  height: 350px;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.info-assinante h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #4D4D4D;
}

.info-assinante p {
  padding-top: 16px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9F9F9F;
}

.info-assinante .btn-assinante {
  color: white;
  text-decoration: none;
  margin: 14px 0;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 156px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.pet-2 {
  position: relative;
  float: right;
  top: -23px;
}

.blog {
  padding-top: 88px;
}

.space-blog {
  padding-top: 11px;
}

.space-blog {
  display: flex;
  width: 100%;
}

.blog-info {
  width: 25%;
}

.box-wraper {
  width: 277px;
  height: 259px;
  margin-top: -10px;
  background: #FEF6E7;
  border-radius: 0px 0px 20px 20px;
}

.box-wraper h2, p {
  padding-top: 24px;
  padding-left: 24px;
}

.box-wraper h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #4D4D4D;
}

.box-wraper .btn {
  color: white;
  text-decoration: none;
  margin: 24px 0 0 24px;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 153px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.galeria {
  padding-top: 80px;
}

.info-galeria {
  width: 100%;
  display: flex;
}

.titulo-galeria {
  width: 50%;
}

.titulo-galeria h1 {
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: #4D4D4D;
}

.seguir {
  width: 50%;
  text-align: right;
}

.seguir a {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration-line: underline;
  color: rgb(251, 185, 0);
}

.box-img {
  display: flex;
}

.box-galeria img {
  max-width: 100%;
}

.formulario {
  padding-bottom: 87px;
  padding-top: 80px;
}

.form {
  height: 346px;
  width: 772px;
  margin: -10px auto;
  background: #FEF6E7;
  text-align: center;
  border-radius: 20px;
}

.form h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #4D4D4D;
  padding-top: 40px;
}

.form img {
  max-width: 300px;
  width: 100%;
}

.form input[type=email],
.form input[type=text] {
  border-radius: 13px;
  padding-left: 10px;
  margin: 20px auto;
  display: block;
  max-width: 343px;
  width: 100%;
  height: 48px;
  border: 1 solid #ccc;
  font-size: 16px;
}

.form textarea {
  resize: vertical;
  display: inline-block;
  max-width: 500px;
  border: 1 solid #ccc;
  border-radius: 15px;
  width: 100%;
  font-size: 16px;
  height: 120px;
}

.form input[type=text],
.form input[type=email],
.form textarea:focus {
  outline: 0;
  border: none;
}

.text {
  padding-bottom: 10px;
  color: white;
}

.button-email {
  color: white;
  text-decoration: none;
  margin: 24px 0 0 24px;
  background-color: #FBB900;
  display: inline-block;
  height: 48px;
  width: 153px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.img-form {
  width: 100%;
}

.img-form img {
  margin: 0 39%;
}

footer {
  background-color: #FBB900;
}

footer h3 {
  color: white;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=estilo.css.map */
